{% extends 'pattern.html' %}
{% block title %}
    Главная
{% endblock %}
{% block header %}

{% endblock %}

    {% block content %}
        <p>
            {% if "id" not in request.session %}
                <button><a href="/login/">Авторизация</a></button>
            {% else%}
                <button><a href="/account/">{{ request.session.login }}</a> </button>
            {% endif %}
        </p>


 <table>
    {% for air in air_list %}
        <tr>
            <td>
                {% if air.0 != 0 %}
                <button>
                    <a href="{% url 'air_detail_url' air.0.id %}">
                         {{ air.0.name }}
                     </a>
                </button>
                {% endif %}
            </td>
             <td>
                 {% if air.1 != 0 %}
               <button>
                    <a href="{% url 'air_detail_url' air.1.id %}">
                         {{ air.1.name }}
                     </a>
                </button>
                 {% endif %}
             </td>
            <td>
                {% if air.2 != 0 %}
               <button>
                    <a href="{% url 'air_detail_url' air.2.id %}">
                         {{ air.2.name }}
                     </a>
                </button>
                {% endif %}
             </td>
        </tr>
    {% endfor %}
 </table>

    {% endblock %}



