<html>
<head>
<meta charset="UTF-8">
<title>Авторизация</title>
</head>
<link href="style.css" type="text/css" rel="stylesheet">
<header>
<img src="airling1.png">
<h1> Авторизация: </h1>
</header>
<div class="table">
<body>
{% if request.session %}
{% endif %}
 <form action="/login/" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}
        <br><input type="submit" value="Войти"/></br>
    </div>
	</form>
{% if error  == 'Неправильно введён логин или пароль' %}
    <p>
    {{ error }}
    </p>
{% endif %}
</body>
</html>
