<!DOCTYPE html>
<html lang="en">
<link href="../../static/style.css" type="text/css" rel="stylesheet">
<link href="style.css" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
{% if request.session %}
{% endif %}

    <form action="/login/" method="post"> {% csrf_token %}
      {{ form.as_p }}
        <div>
            <button type="submit">Авторизоваться</button>
        </div>
    </form>
{% if error  == 'Неправильно введён логин или пароль' %}
    <p>
    {{ error }}
    </p>
{% endif %}

</body>
</html>